main section img#logo-jumbo{
    width: 200px;
}

main section img{
    width: 100%;
    border-radius: 10px;
}

footer section#info i.fab{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 35px;
    margin: 0 3px;
}

.my-text-green{
    color: rgba(26,188,156,255);;
}

.my-bg-green{
    background-color: rgba(26,188,156,255);
}

.my-text-dark-blue{
    color: rgba(44,62,80,255);
}

.my-bg-dark-blue{
    background-color: rgba(44,62,80,255);
}

.my-bg-blue{
    background-color: rgba(58,84,109,255);
}

.line-stars{
    height: 2px;
    width: 100px;
}